<div style="display:flex;padding:1rem;border-top:1px solid black">
  <div style="flex-shrink:1">
    <br>
    <p>
      This product was funded by <a style="color:var(--md-typeset-a-color)" href="https://www.astho.org">The Association of State and Territorial Health Officials<a/>
      and was supported by <a style="color:var(--md-typeset-a-color)" href="https://www.cdc.gov/infrastructure/phig/index.html">OE22-2203: Strengthening U.S. Public Health Infrastructure, Workforce, and Data Systems grant</a>
      Number 6 NE11OE000066, funded by CDC. 
      Its contents are solely the responsibility of the authors and do not necessarily represent 
      the official views of CDC.
    </p>
  </div>
  <div style="flex-shrink:1;padding-left:1rem;">
    <img width="100" src="https://www.astho.org/globalassets/masterpage/header/astho_logo.png"/>   
  </div>
</div>
